body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 450px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
    font-weight: bold;
}

.options {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.options li {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2% 4%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}